.contact-us {
    height: 432px;
    display: flex;
    justify-content: center;

    &__container {
        width: 903px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }
}