* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    display: flex;
    flex-direction: column;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: auto;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cbdcec;
    height: 3em;
}

main {
    width: 70%;
    display: flex;
    flex-direction: column;
    background-color: #8a7cac;
}

aside {
    width: 30%;
    display: flex;
    flex-direction: column;
    background-color: #fbe4c9;
}

footer {
    display: flex;
    width: 100%;
    height: 4.3em;
}

p {
    font-size: 1.3em;
}

.main-div {
    margin-bottom: 1rem;
}

.main-heading {
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex: 1 0 auto;
}

.aside-section {
    background-color: #e2b17a;
    margin: 5px;
    height: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.additional-main-sections {
    display: flex;
    flex-wrap: wrap;
}

.yellow, .orange, .peach {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4em;
}

.yellow, .orange {
    width: 50%;
}

.yellow {
   background-color: #dbd354;
}

.orange {
    background-color: #ce913d;
}

.peach {
    background-color: #c8a3a5;
    width: 100%;
}

.light-green, .dark-green, .blue, .dark-blue {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
}

.light-green {
    background-color: #3f883e;
}

.dark-green {
    background-color: #224f1d;
}

.blue {
    background-color: #2d6d9e;
}

.dark-blue {
    background-color: #0f3a95;
}
