* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

html {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: auto;
}

h1 {
    font-size: 56px;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

h3, p {
    font-weight: lighter;
}

.main {
    font-size: 18px;
    background-image: url(../img/bg.png);
    background-size: cover;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column; 
    flex-grow: 1;
        &__container {
            width: 70%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        &__message {
            height: 300px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding-bottom: 50px;
        }
        
        &__form-container,
        &____contacts {
            width: 50%;
            height: 500px;
        }
}