* {
    margin: 0;
    padding: 0;
    font-size: 18px;
}

h1 {
    margin-top: 2%;
    margin-bottom: 2%;
    background: #800020;
    color: white;
    text-align: center;
    font-size: 32pt;
}

main {
    margin-left: 2%;
    margin-right: 2%;
}

footer {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 2%;
    background: black;
    color: white;
    text-align: center;
    
}

footer > span {
    font-size: 20px;
}

.sunset {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.cars-section {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.car {
    margin-right: 4px;
    border-style: dashed;
    border-width: 2px;
}

.blue-text {
    color: blue;
}

