@import 'variables.scss';

.about-us {
    background-color: $about-us-bg-color;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 900px;
    overflow: hidden;

    &__container {
        height: 700px;
        width: 73.125em;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
    }
    
    &__text-block,
    &__picture-block {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__picture-block {
        height: 100%;
        background: url(../img/img-2.png) center no-repeat;
    }

    &__text-block {
        height: 300px;
        color: $white-color;
        padding-left: 40px;
    }

    &__picture {
        object-fit:none;
    }
}