
.button {
    width: 200px;
    min-width: 200px;
    height: 55px;
    min-height: 55px;
    text-transform: uppercase;
    border: none;
    color: #fff;
    box-shadow: 0px 2px 5px $black-color;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;

    &--orange{
        background-color: $orange-btn-color;
    }
    &--grey{
        background-color: $grey-btn-color;
    }
    &--green{
        background-color: $green-btn-color;
    }

    &--red{
        background-color: $red-btn-color;
    }
}
