* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --bg-color:  #f8f8fb;
}

html {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    background-color: var(--bg-color);
}

body {
    display: flex;
    flex-direction: column;
    flex: auto;

}

p {
    font-size: 17px;
    font-weight: 300;
}
