.nav {

    &__list {
        display: flex;
        justify-content: space-between;
        list-style: none;
    }

    &__link {
        text-decoration: none;
        color: inherit;
        font-weight: bold;
        text-transform: uppercase;
    }

    &__link:hover {
        border-top: 4px solid #f4781a;
    }
        
}