$white-color: #fff;
$black-color: #000000;
$service-item-bg: #fffeff;
$form-background-color: #03c5c8;
$form-border-color: #395d7f; 
$reset-btn-color: #365d80;
$footer-red-txt: #f3244f;
$submit-txt-color: #365d80;
$footer-font-color: #a2a2a2;
$footer-bg-color: #22252b;
$link-border-color: #f4781a;
$orange-btn-color: #ff6033;
$grey-btn-color: #56829f;
$gallery-bg-color: #ffed27;
$our-services-bg-bolor: #70befc;
$subscribe-bg-color: #fcfffd;
$about-us-bg-color:#00b2b2;
$green-btn-color:#95b72d;
$red-btn-color:#f02839;
$blog-bg-color:#b177f3;
$article-author-txt: #d3d4cc;
$date-color: rgba(38, 38, 38, 0.5);
