$white-color: #fff;
$form-background-color: #03c5c8;
$form-border-color: #395d7f; 
$reset-btn-color: #365d80;
$footer-red-txt: #f3244f;
$submit-txt-color: #365d80;
$footer-font-color: #a2a2a2;
$footer-bg-color: #22252b;
